<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
        <title> Authentication </title>
        <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">
    </head>
    <body> 

        <ion-app>
                <ion-content>
                        <form  action="/login" method="POST">
                          <ion-grid>
                            <ion-row color="dark" justify-content-center align-items-center>
                              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                                <div text-center>
                                  <h1><b>IntelChair</b></h1>
                                </div>
                                <ion-row justify-content-center align-items-center><ion-img style="width: 30%; height: 30%;" src="../static/logo.png"></ion-img></ion-row>  
                                <div padding>
                                  <ion-item>
                                    <ion-input  id="user" type="text" placeholder="Name" name="username" ngModel required></ion-input>
                                  </ion-item>
                                  <ion-item>
                                    <ion-input  id="pw" type="password" placeholder="Password" name="password" ngModel required></ion-input>
                                  </ion-item>
                                </div>
                                <div padding>
                                  <!-- <a href="index.html"><ion-button size="medium-dpi" id="login" type="submit"  expand="block">Login</ion-button></a> -->
                                  <ion-button color="dark" size="medium-dpi" id="login" type="submit"  expand="block" onclick="storeUser()">Login</ion-button>
                                </div>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                       </form>
                      </ion-content>
        </ion-app>

        <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
        <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="static/auth.js"></script>

    </body>
</html>
