<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
        <title> IntelChair </title>
        <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">
    </head>
    <body>

        <ion-app>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons id="btn-connect" slot="start">
                        <ion-button onclick="connect()" fill="solid" color="primary"> Connect </ion-button>
                    </ion-buttons>
                    <ion-buttons id="btn-disconnect" slot="start">
                        <ion-button onclick="disconnect()" fill="solid" color="primary"> Exit Session </ion-button>
                    </ion-buttons>

                    <ion-buttons class="icon" slot="primary" style="display:block">
                        <ion-button><ion-icon slot="end" name="battery-full"></ion-icon><p id="battery-label"></p></ion-button>
                    </ion-buttons>
                    <ion-buttons class="icon" slot="secondary" style="display:block">
                        <ion-button><ion-icon slot="end" name="speedometer"></ion-icon><p id="speed-label"></p></ion-button>
                    </ion-buttons>
                    <ion-title class="ion-text-center" id="usershow" color="primary"></ion-title>
                </ion-toolbar>
            </ion-header>


            <ion-content class="has-header">
                <ion-fab vertical="top" horizontal="end" slot="fixed">
                    <ion-fab-button onclick="voice_activate()">
                        <ion-icon id="voice_ico" name="mic"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-tabs id="tabs">
                    <ion-tab tab="home"><ion-grid >
                        <ion-grid>
                            <ion-row justify-content-center>
                                <ion-item id="zone_joystick_message">
                                    <ion-label>
                                        Please connect the device first!
                                    </ion-label>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <div id="zone_joystick"></div>
                            </ion-row>
                            <ion-row justify-content-center align-items-center>
                                <div class="spd-btn" style="position:fixed; bottom:10px">
                                    <ion-button onclick="velocityDown()" color="primary">Speed down</ion-button>
                                    <ion-button onclick="velocityUp()" color="primary">Speed up</ion-button>
                                </div>
                            </ion-row>
                        </ion-grid>
                    </ion-tab>
                    <ion-tab tab="mapping">
                        <ion-grid>
                                <ion-row justify-content-center align-items-center>
                                    <ion-item id="mapping_start_message">
                                        <ion-label>
                                            Please start the mapping on PC!
                                        </ion-label>
                                    </ion-item>
                                </ion-row>
                        </ion-grid>

                    </ion-tab>
                    <ion-tab tab="settings">
                        <ion-grid >
                            <ion-row justify-content-center align-items-center>
                                <canvas  id="canvas"></canvas>
                            </ion-row>
                            <ion-row justify-content-center align-items-center>
                                    <p   align="center" id=map_msg class="jquery_blink">Hold and drag to select the desired location and orientation!</p>
                            </ion-row>
                            <ion-row justify-content-center align-items-center>
                                <ion-button id=nav_btn_go onclick="goLocation()" color="primary"  style="display:none;">Go to location</ion-button>
                            </ion-row>
                        </ion-grid>
                    </ion-tab>

                    <ion-tab-bar slot="bottom">

                        <ion-tab-button tab="home">
                        <ion-label>Manual</ion-label>
                        <ion-icon name="move"></ion-icon>
                        </ion-tab-button>

                        <ion-tab-button tab="mapping" id="mappingTab">
                        <ion-label>Mapping</ion-label>
                        <ion-icon name="eye"></ion-icon>
                        </ion-tab-button>

                        <ion-tab-button tab="settings">
                        <ion-label>Navigation</ion-label>
                        <ion-icon name="map"></ion-icon>
                        </ion-tab-button>

                    </ion-tab-bar>
                </ion-tabs>
            </ion-content>
        </ion-app>

        <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
        <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script type="text/javascript" src="static/ros.js"></script>
        <script type="text/javascript" src="static/nipplejs.js"></script>
        <script type="text/javascript" src="static/joystick.js"></script>
        <script type="text/javascript" src="static/application.js"></script>
        <script type="text/javascript" src="static/navigation.js"></script>
        <script type="text/javascript" src="static/voice.js"></script>


        <script>
            //popup localizacoes
                const popoverController = document.querySelector('ion-popover-controller');
                let currentPopover = null;

                async function handleButtonClick(ev) {
                popover = await popoverController.create({
                    component: 'popover-example-page',
                    event: ev,
                    translucent: true
                });
                currentPopover = popover;
                return popover.present();
                }

                function dismissPopover() {
                if (currentPopover) {
                    currentPopover.dismiss().then(() => { currentPopover = null; });
                }
                }

                customElements.define('popover-example-page', class ModalContent extends HTMLElement {
                connectedCallback() {
                    this.innerHTML = `
                    <ion-list>
                        <ion-list-header>LOCATION NAME</ion-list-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item button color="success">Go</ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item button color="warning">Change name</ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item button color="danger">Remove Location</ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-list>
                    <ion-button expand="block" onClick="dismissPopover()">Close</ion-button>`;
                    }
                });
                //adicionar lista dinamicamente
                function addLocation(){
                    var row = document.getElementById("dynamic-list");
                    var butt = document.createElement("ion-button");
                    var checkbox = document.createElement("ion-checkbox");
                    var colorButt = document.createElement("ion-button");
                    colorButt.setAttribute("size","small");
                    butt.innerHTML = "Default Name";
                    colorButt.innerHTML = "COLOR";
                    row.appendChild(butt);
                    row.appendChild(checkbox);
                    row.appendChild(colorButt);
                }

                //function changeColor
            </script>
    </body>
</html>
