<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
        <title> IntelChair </title>
        <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">
    </head>
    <body>

        <ion-app>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons id="btn-connect" slot="start">
                        <ion-button onclick="connect()" fill="solid" color="primary"> Connect </ion-button>
                    </ion-buttons>
                    <ion-buttons id="btn-disconnect" slot="start">
                        <ion-button onclick="disconnect()" fill="solid" color="primary"> Exit Session </ion-button>
                    </ion-buttons>

                    <ion-buttons class="icon" slot="primary" style="display:block">
                        <ion-button><ion-icon slot="end" name="battery-full"></ion-icon><p id="battery-label"></p></ion-button>
                    </ion-buttons>
                    <ion-buttons class="icon" slot="secondary" style="display:block">
                        <ion-button><ion-icon slot="end" name="speedometer"></ion-icon><p id="speed-label"></p></ion-button>
                    </ion-buttons>
                    <ion-title class="ion-text-center" id="usershow" color="primary"></ion-title>
                </ion-toolbar>
            </ion-header>


            <ion-content class="has-header">
                <ion-tabs>
                    <ion-tab tab="home"><ion-grid style="height: 100%">
                        <ion-grid>
                            <ion-row justify-content-center align-items-center style="height: 100%">
                                <ion-item id="zone_joystick_message">
                                    <ion-label>
                                        Please connect the device first! 
                                    </ion-label>
                                </ion-item>
                                <div id="zone_joystick"></div>
                            </ion-row>
                            <ion-row>
                                <div class="spd-btn">
                                    <ion-button onclick="velocityDown()" color="primary">Speed down</ion-button>
                                    <ion-button onclick="velocityUp()" color="primary">Speed up</ion-button>
                                </div>
                            </ion-row>
                        </ion-grid>
                    </ion-tab>
                    <ion-tab tab="settings">
                        <ion-grid>
                            <ion-row justify-content-center align-items-center>
                                <ion-img src="static/room.png"></ion-img>
                            </ion-row>
                            <ion-row justify-content-center align-items-center>
                                <ion-col>       
                                        <ion-popover-controller></ion-popover-controller>
                                        <ion-button onclick="handleButtonClick()" color="warning">Coffee machine</ion-button>
                                </ion-col>
                                <ion-col>
                                        <ion-checkbox value="listed" checked></ion-checkbox>
                                </ion-col>
                                <ion-col justify-content-center align-items-center>      
                                        <ion-button size="small">Color</ion-button>   
                                </ion-col>
                            </ion-row>
                            <ul id="dynamic-list"></ul>
                            <ion-row justify-content-center align-items-center >        
                                    <ion-button onclick="addLocation()"><ion-icon slot="icon-only" name="add-circle"></ion-icon></ion-button>    
                            </ion-row>
                        </ion-grid>
                    </ion-tab>

                    <ion-tab-bar slot="bottom">
                        <ion-tab-button tab="home">
                        <ion-label>Manual</ion-label>
                        <ion-icon name="move"></ion-icon>
                        </ion-tab-button>

                        <ion-tab-button tab="settings">
                        <ion-label>Mapa</ion-label>
                        <ion-icon name="map"></ion-icon>
                        </ion-tab-button>

                    </ion-tab-bar>
                </ion-tabs>
            </ion-content>
        </ion-app>



        <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
        <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="static/nipplejs.js"></script>
        <script src="static/joystick.js"></script>

        
        <script>
            //popup localizacoes
                const popoverController = document.querySelector('ion-popover-controller');
                let currentPopover = null;
    
                async function handleButtonClick(ev) {
                popover = await popoverController.create({
                    component: 'popover-example-page',
                    event: ev,
                    translucent: true
                });
                currentPopover = popover;
                return popover.present();
                }
    
                function dismissPopover() {
                if (currentPopover) {
                    currentPopover.dismiss().then(() => { currentPopover = null; });
                }
                }
    
                customElements.define('popover-example-page', class ModalContent extends HTMLElement {
                connectedCallback() {
                    this.innerHTML = `
                    <ion-list>
                        <ion-list-header>LOCATION NAME</ion-list-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item button color="success">Go</ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item button color="warning">Change name</ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item button color="danger">Remove Location</ion-item>
                                </ion-col>
                            </ion-row>                        
                        </ion-grid>
                    </ion-list>
                    <ion-button expand="block" onClick="dismissPopover()">Close</ion-button>`;
                    }
                });
                //adicionar lista dinamicamente
                function addLocation(){
                    var row = document.getElementById("dynamic-list");
                    var butt = document.createElement("ion-button");
                    var checkbox = document.createElement("ion-checkbox");
                    var colorButt = document.createElement("ion-button");
                    colorButt.setAttribute("size","small");
                    butt.innerHTML = "Default Name";
                    colorButt.innerHTML = "COLOR";
                    row.appendChild(butt);
                    row.appendChild(checkbox);
                    row.appendChild(colorButt);
                }

                //function changeColor
            </script>
    </body>
</html>

