<launch>
   <master auto="start"/>
    <!-- Run the map server --> 
   <node name="map_server" pkg="map_server" type="map_server" args="$(find intelchair)/lol.yaml"/>

    <!-- Run Localization -->
    <node pkg="iris_rtk_ros" type="loc2d_ros" name="local" output="screen">
        <param name="scan" value="/scan_filtered"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find intelchair)/common_costmap.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find intelchair)/common_costmap.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find intelchair)/local_costmap.yaml" command="load" />
        <rosparam file="$(find intelchair)/global_costmap.yaml" command="load" /> 
        <rosparam file="$(find intelchair)/base_local_planner.yaml" command="load" />
    </node>

</launch> 