<launch>

    <include file="/opt/ros/melodic/share/rosbridge_server/launch/rosbridge_websocket.launch" />
    
    <node pkg="intelchair" type="base_controller" name="controller" output="screen" />
    
    <node pkg="intelchair" type="tf_broadcaster" name="static_tf" output="screen" /> 

    <node pkg="intelchair" type="server_connection2.py" name="server" output="screen" />       
    
    <include file="$(find lms1xx)/launch/LMS1xx.launch" />

    <include file="$(find laser_filters)/examples/angular_filter.launch" />

    <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />

</launch> 